@page
@model Aplicacion.FrontEnd.Pages.DetalleProductoModel
@{
}
<div class="row">
    <div class="col-auto p-3 mb-2 bg-secondary text-white">

<h2>Detalle Producto</h2>
<div>
    
        <div>
            Codigo: @Model.ProductoDetalle.Id
        </div>
        <div>
            Nombre: @Model.ProductoDetalle.Nombre
        </div>
        <div>
            Precio: @Model.ProductoDetalle.Precio
        </div>
        <div>
             Cantidad: @Model.ProductoDetalle.Cantidad
        </div>
        
 
</div>
<div><br><a href="./ListaProducto" class="btn btn-success">Menu Principal </a></div>
</div>
</div>