html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("https://mdn.mozillademos.org/files/11991/startransparent.gif");
  margin-bottom: 60px;
}
#fondo{
  background-image: url("D:\JAVIER\PROGRAMACION\CURSO MINTIC\Ciclo3\Programacion\Proyecto\Aplicacion\Aplicacion.FrontEnd\Pages\images\Camion.jpg");
}