@page
@model Aplicacion.FrontEnd.Pages.DetalleVehiculoModel
@{
}
<div class="row">
    <div class="col-auto p-3 mb-2 bg-secondary text-white">
<h2>Detalle Vehiculo</h2>
<div>
    
        <div>
 Codigo: @Model.VehiculoDetalle.Id
        </div>
        <div>
            Cedula: @Model.VehiculoDetalle.Placa
        </div>
        <div>
            Nombre: @Model.VehiculoDetalle.Modelo
        </div>
        <div>
             Apellido: @Model.VehiculoDetalle.Color
        </div>
        
 
</div>
<div><br><a href="./ListaVehiculo" class="btn btn-success">Menu Principal</a></div>
    </div>
</div>