@page
@model Aplicacion.FrontEnd.Pages.DetalleVehiculoModel
@{
}
<h2>Detalle Vehiculo</h2>
<div>
    
        <div>
 Codigo: @Model.VehiculoDetalle.Id
        </div>
        <div>
            Cedula: @Model.VehiculoDetalle.Placa
        </div>
        <div>
            Nombre: @Model.VehiculoDetalle.Modelo
        </div>
        <div>
             Apellido: @Model.VehiculoDetalle.Color
        </div>
        
 
</div>
<div><a href="./ListaVehiculo">Menu Principal</a></div>
