@page
@model IndexModel
@{
    ViewData["Title"] = "Control Vehicular";
}
<div class="text-center bg-light" >
<h1 class="display-4"><strong><em>Sistema de Control de Acceso Vehicular</em></strong></h1>
    <p><strong><em>Minuta para el registro de Ingreso y Salida de Vehiculos.</em></strong></p>
</div>
