@page
@model IndexModel
@{
    ViewData["Title"] = "Control Vehicular";
}

<div class="text-center" style="background-image: url('./images/Camion.jpg');">
    <h1 class="display-4">Sistema de Control de Acceso Vehicular</h1>
    <p>Minuta para el registro de Ingreso y Salida de Vehiculos</a>.</p>
</div>
